@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: header1 ;
  src: url(/fonts/MontserratAlternates.woff) format('woff');
  
  font-display: swap;
}
@font-face {
  font-family: header2 ;
  src: url(/fonts/Ubuntu-Regular.woff)  format('woff');
  font-display: swap;
}
@font-face {
  font-family: para1 ;
  src: url(/fonts/Rajdhani_1.woff)  format('woff');
  font-display: swap;
}
/* ________Global tags________________ */
p{
  font-family: para1;
}
h3{
  font-family: header2;

}
h1{
  font-family: header1;
  font-size: 3rem;
}


*{
margin: 0;
padding: 0;
box-Sizing: border-box;
font-family: "Poppins", sans-serif;
color: white;
}
html,
body { 
width: 100%; 
height:100%;
background-color: rgb(0, 0, 0);
position: relative;
z-index: -99;
}
/* -----------cursor----------- */

/* ------------sroll bar------------ */
body::-webkit-scrollbar {
  width: 12px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.797);
  border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  outline: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
} 


/* navbar ------------------------------- */

nav {
  /* position: sticky; */
  z-index: 10;
  width: 80%;
  height: 120px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: auto;
}
.logo{
  width: 4rem;
}
.menu{
  
    display: flex;
    align-items: center;
    gap: 10px;
    
}   
.menu i{
    color: white;
    font-size: 1rem;

}
.menu h1{
    color: white;
    font-size: 1rem;

}
.menu_container {
  -webkit-box-shadow: 7px 9px 0px -3px rgba(255,255,255,1);
-moz-box-shadow: 7px 9px 0px -3px rgba(255,255,255,1);
box-shadow: 7px 9px 0px -3px rgba(255,255,255,1);
  /* background-color: rgb(170, 170, 170); */
  position: fixed;
  top: 60px;
  z-index: 9999;
  left: 10px;
 
  width: 100px;
  border-radius: 15px; 
  padding: 13px 20px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  gap: 30px;
  
}
.menu_container .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  transition: scale 0.1s linear;
  
}
.menu_container i{
  font-size: 40px;
}
.menu_container .icon:hover{
  scale: 1.3;
}

nav .logo img {
  object-fit: cover;
  width: 5.5rem;
}
ul{
    
    display:none ;
    gap: 10px;
}
ul a{
    text-decoration: none;
    color: white;
}


/* hero section----------------------- */
.hero{
  width: 100%;
  height: calc(100vh - 120px);
}

.left_side {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 550px;
  padding-left: 4rem;
  gap: 10px;
  /* padding-top: 2rem; */
}
  .left_side h3 {
    font-family: header2;
    color: blanchedalmond;
  }
  .left_side h1 {
    margin-top: 1rem;
    color: white;
    font-size: 4vw;
    line-height: 60px;
    font-family: header1;
    padding-bottom: 5px;
  }
  .left_side h1 span {
    color: rgb(144, 31, 31);
    filter: drop-shadow(2px 2px 1px #ffffff);
    font-size: 4vw;
    font-family: header1;
    
  }
  .left_side h2 span{
    font-family: header2;

  }
  .left_side h2 {
    margin-top: 10px;
    color: blanchedalmond;
    font-family: header2;
    font-size: 2rem;
}
  .left_side p {
   
    color: white;
    letter-spacing: 2px;
    margin-top: 2rem;
    font-family: para1;
    width: 40%;
  }
  #element {
    font-size: 4vh;
  }
  
  .bg_img{
    position: absolute;
    z-index: -1;
    top: 0 ;
    left: 0;
   width: 100%;
   min-height: 100%;
    background-image: url('/bg-img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .spiders {
    position: absolute;
    top: 0;
    left: 24rem;
  }
  .spiders img {
    width: 64px;
    height: 226px;
}
.hero_btn{
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 30px;
  
}
.download_btn{
  cursor: pointer;
  
  font-family: para1;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255) ;
  padding: 10px 20px;
  border-radius: 10px;
}
.download_btn:hover{
  
  background-color: red;
  
}
.github_btn{

  cursor: pointer;
  font-family: para1;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255) ;
  padding: 10px 20px;
  border-radius: 10px;
}
.github_btn:hover{
 
  background-color: red;
  
}

 

  /* --------------------Social logo------------------------- */
  .social_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    position: fixed;
    z-index: 99;
    bottom: 35px;
    right: 26px;
    backdrop-filter: blur(5px);
  }
  .social_icon_container .social{
    width: 35px;
    
  }
  /* About ------------------------------- */

  .about {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('/about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
  .blur {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 100px;
  
    background-color: rgb(0, 0, 0);
    /* backdrop-filter: blur(5px); */
    filter: blur(22px);
   
}
  .about_me {
    width: 80%;
    margin: auto;
    height: 100vh;
    padding: 116px 0px 0 57px;
    display: flex;
    gap: 40px;
}
  .my_image {
    width: 826px;
    height: 433px;
}
  .my_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
.about_me_content {
  display: flex;
  flex-direction: column;

}
.about_me_content h1{
  font-weight: 800;
  font-size: 5rem;
  margin-bottom: 1rem;
  
}
.about_me_content p{
max-width: 95rem;
font-size: 31px;
backdrop-filter: blur(5px);
}

.about_links ul{
  padding-top: 20px;
  display: flex;
  gap: 50px;
}
.about_links ul a{
  text-decoration: none;
  cursor: pointer;
}
.about_btn{
  margin-top: 2.5rem;
  padding: 1rem;
}


/* --------------------Protfolio-------------------- */
.portfolio{
  width: 100%;
  min-height: 1000px;
  /* background-color: black; */
  background-image: url("/portfolio-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;

}
.portfolio > h1 {
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  margin: 2rem 0rem;
  padding: 60px 0px;
}

.work_container{

/* background: rgba(0, 0, 0, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(0, 0, 0, 0.3); */

  width: 34rem;
  height: 100vh;
  /* background-color: rgb(23, 23, 23); */
  margin: auto;
  padding: 20px;

}

.card_project {
  width: 430px;
  height: 260px;
  background-color: yellow;
}
.project_image{
  height: 34vh;
  object-fit: cover;
}
  



















/* --------------BLog-------------------- */
.blog{
  width: 100%;
  height: 100vh;
  /* background-color: brown; */


  /* From https://css.glass */
/* background: rgba(255, 255, 255, 0.2); */
border-radius: 16px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}






/* -------media--------------- */




@media screen  and (max-width: 768px) {
  .hero {
    
    height: calc(100vh - 120px);
}
.about_me {
  width: 80%;
  margin: auto;
  height: 100vh;
  padding: 116px 0px 0 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.my_image {
  width: 48vw;
  height: 42vh;
}

}

@media screen and (max-width:426px ){

  .menu_container {
    
    display: none;
   
}
.spiders {
  position: absolute;
  top: 0;
  left: 0;
}
.bg_img {
 
  background-position: 65%;
  
}
.left_side h1 span {
  
  font-size: 8vw;
}
.left_side {
  
  width: 90%;
 
  padding-left: 0rem;
  
}
.left_side p {
  
  width: 100%;
}
.hero_btn {
  flex-wrap: wrap;
  
}
.my_image {
  width: 73vw;
  height: 37vh;
}

.hero {
  width: 100%;
  height: calc(82vh - 120px);
}

.blur {
 
  width: 100vw;
 
}
.about_me {
  width: 95%;
  margin: auto;
  height: 100vh;
  padding: 80px 0px 0 0px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}



}
